Thumbs.db
.DS_Store

.idea/
*.iml

__pycache__
.pytest_cache
*.pyc

.coverage
coverage.xml
coverage/

.gradle/
.settings/
/build/
out.txt

/builds/
/dist/
/test-results/

/.vscode/

.project
.classpath
/bin/

/manifests/**/*.yml.lock

/lib/*
/tools/vulnerability-scan/logs/
/tools/vulnerability-scan/repos/
/tools/vulnerability-scan/whitesource/
/tools/vulnerability-scan/wss-unified-agent.jar
